/*navigation bar styling*/
.navigation {
    margin-left:2%;
    overflow:hidden;
    padding-top:10px;
}

/*float right so it is at the top right of the page. The text will go down once screen gets smalelr and pushes against the logo*/
.navigation a{
    float:right;
    text-align:center;
    text-decoration:none;
    color:black;
    padding:14px;
    font-family: courier new;
}
/*hover animation when the user hover over the hyperlink button*/
.navigation a.nav:hover{
    background-color: black;
    color: white;
    border-radius:25px;
}

/*shows the current page they are on*/
.navigation a.active{
    background-color: darkgrey;
    color:gold;
    border-radius:25px;
}
/*the clothing.ly logo at the left*/
.logo{
    color:black;
    float:left;
    font-weight:bold;
    font-family: courier new;
    font-size:20px;
    display:flex;
    justify-content:center;
    padding-left:10px;
    flex-direction: row;
}

.icon{
    padding-left: 10px;
}

#icon1{
    width:20px;
}

#icon2{
    width:20px;
}

#icon3{
    width:20px;
}

#icon4{
    width:20px;
    padding-right:15px
}

#login{
    border-style:solid;
    border-width:1px;
    padding: 4px;
    margin-top:8px;
    margin-right:10px;
}

/*hover animation for the login/signup button*/
.navigation .login:hover{ 
    background-color:black;
    color:white;
}

.navigation .login-active{
    background-color:black;
    color:gold;
}

